<div class="tab-pane fade" role="tabpanel" id="bookmark">
    <div data-aos="zoom-in" style="margin-bottom: 51px;"><i class="fa fa-bookmark-o" style="font-size: 34px;"></i>
        <p class="lead" style="margin-top: 10px;">Vos enregistrements</p>
        <p style="margin-top: 10px;">Vos enregistrements sont stockés ici. Ils sont<br>complètement privés, c'est à dire que vous êtes le seul<br>utilisateur à pouvoir voir le contenu que vous avez enregistré.</p>
    </div>
<div data-aos="zoom-in">
    <div class="row row-cols-3 justify-content-center align-items-center" style="margin-bottom: 20px;">
        {% for post in bookmarks|reverse|slice(0, 9) %}
        {% set post = post.getPost() %}
        <div class="col-3 boxPicGalleryProfil" data-bs-hover-animate="pulse" style="background: url(/post/{{ post.uuid }}/{{ post.private ? post.pass ~ '/' : '' }}view) center / cover no-repeat;">
            <div data-aos="zoom-out" style="">
                <a class="text-body" href="/post/{{ post.uuid }}">
                    <div class="infosPic">
                        <div class="row no-gutters justify-content-center" style="margin-top: 40%;width: 100%">
                            <div class="col-auto align-self-center">
                                <p><i class="fa fa-heart{{ app.user and post.isLikedByUser(app.user) ? '' : '-o' }}"></i> {{ post.likes | length }}</p>
                            </div>
                            <div class="col-auto offset-1">
                                <p><i class="fa fa-comment{{ app.user and post.isCommentedByUser(app.user) ? '' : '-o' }}"></i> {{ post.comments | length }}</p>
                            </div>
                        </div>
                    {% if post.private == true %}
                    <div class="row no-gutters justify-content-center" style="width: 100%">
                        <div class="col-auto align-self-center">
                            <p><i class="fa fa-key"></i></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
    
    {% if bookmarks|length > 9 %}
    <div class="row row-cols-3 justify-content-center align-items-center" style="margin-bottom: 20px;" id="spinnerloadBookmarks">
        <div class="col-3" style="padding-right: 0px;padding-left: 0px;margin-right: 13px;">
            <span class="spinner-border spinner-border-sm" role="status"></span>
        </div>
    </div>
    {% endif %}
    </div>
</div>
